body {
    margin: 60px auto;
    width: 70%;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: black;
    background-color: whitesmoke;
}

nav ul {
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    padding-bottom: 15px;
    list-style: none;
    font-weight: bold;
    border-bottom: 1px solid #d5d5d5;    
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

a {
    text-decoration: none;
    color: rgb(122, 122, 122);
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-family: Helvetica, Geneva, Arial, sans-serif;
    font-size: 4em;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}

address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted;
}

object.view_pdf {
    height: 700px;
    width:100%;
}
